/* html {
     align-items: center;
     display: flex;
     font: 15px "Courier New", Courier, monospace;
     height: 100%;
     justify-content: center;
     margin: 0;
   } */
body {
  align-items: center;
     /* display: flex; */
     margin: 5em;
     padding: 5em;
     justify-content: center;
   }
h1 {
        font-size: 5em;
        grid-column: 1 / -1;
        margin: 0;
        text-align: center;
        justify-content: center;
    }
h2 {
  font-size: 1px;
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
}
h3 {
  font-size: 5em;
  grid-column: 2 / 2;
  margin: 0;
  text-align: center;
}
