form {
  text-align: center;
  justify-content: center;
}
form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  /* width: 100%; */
}

form button {
  /* position: absolute; */
  top: 1px;
  right: 2px;
  background-color: #e056fd;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
}
input:focus,
button:focus {
  outline: none;
}
p {
  text-align: center;
  justify-content: center;
}
.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
}
.result {
  text-align: center;
  justify-content: center;
}
